<div id="fb-root"></div>
<script>
FB = null;
window.fbAsyncInit = function() {
    FB.init({
      appId      : '529365033868003',
      xfbml      : true,
      version    : 'v2.0'
    });
  };
(function(d, s, id) { 
	var js, fjs = d.getElementsByTagName(s)[0];
    //if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=529365033868003&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="page-header" id="banner">
 	<div class="row">
 		<div class="col-lg-8 col-md-7 col-sm-6">
 			<h2 id="blog-post-title" class="blog-post-title"><strong>{{article.title}}</strong></h2>
 			<p id="blog-post-meta" class="blog-post-meta"><i>{{article.date * 1000 | date:"MMMM d, yyyy 'at' HH:mm"}}<a href="#">{{article.author}}</a></i></p>
 		</div>
 	</div>
 </div>

<div id='wrapper' class="blog-post">
	<section>
		<article id="article">
			<p ng-bind-html="article.content"></p>
		</article>
	</section>
</div><!-- /.blog-post -->
<div class="fb-comments" data-href="http://localhost/application/public/index.html#/view/{{article.articleId}}" data-colorscheme="light"></div>